 /* General CSS by me */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200,300');

  
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
 }
 
 body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
   padding: 0 10px;
   position: relative;
 }
 
 body::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("Images/backgorund.jpg");
   background-position: center;
   background-size: cover;
 }
 
 /* Form Styling */
 .wrapper {
   width: 400px;
   border-radius: 8px;
   padding: 30px;
   text-align: center;
   border: 1px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(9px);
   -webkit-backdrop-filter: blur(9px);
 }
 .wrapper:hover{
  box-shadow: 0px 0px 20px 1px #ffffff3f;
  border: 1px solid rgba(255, 255, 255, 0.454);
  transition: 0.3s ease;
 }
 
 form {
   display: flex;
   flex-direction: column;
 }
 
 h2 {
   font-size: 2rem;
   margin-bottom: 20px;
   color: #fff;
 }
 
 .input-field {
   position: relative;
   margin: 15px 0;
 }
 
 .input-field label {
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-60%);
   color: #ffffff;
   font-size: 16px;
   pointer-events: none;
   transition: 0.15s ease;
 }
 
 .input-field input {
   width: 100%;
   height: 40px;
   background: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #fff;
 }

 .input-field input {
   width: 100%;
   height: 40px;
   background: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #ffffff;
 }
 
 .input-field input:focus~label,
 .input-field input:valid~label {
   font-size: 0.8rem;
   top: 10px;
   transform: translateY(-120%);
 }
 
 .forget {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 25px 0 35px 0;
   color: #fff;
 }
 
 .forget label {
   display: flex;
   align-items: center;
 }
 
 .forget label span {
   margin-left: 8px;
   font-size: 16px;
 }
 
 .wrapper a {
   color: #efefef;
   text-decoration: none;
 }
 
 .wrapper a:hover {
   text-decoration: underline;
 }
 
 button {
   background: #fff;
   color: #000;
   font-weight: 600;
   border: none;
   padding: 12px 20px;
   cursor: pointer;
   border-radius: 3px;
   font-size: 16px;
   border: 2px solid transparent;
   transition: 0.3s ease;
 }
 
 button:hover {
   color: #fff;
   border-color: #fff;
   background: rgba(255, 255, 255, 0.15);
 }
 
 .register {
   text-align: center;
   margin-top: 30px;
   color: #fff;
 }
 .Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "SUBSCRIBE";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

.form {
  width: 400px;
  border-radius: 8px;
  gap: 10px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #ffffff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ffffff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 20px 05px 05px 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  outline: 0;
  font-size: 16px;
  color: #fff;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #ffffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form:hover{
  box-shadow: 0px 0px 20px 1px #ffffff3f;
  border: 1px solid rgba(255, 255, 255, 0.454);
  transition: 0.3s ease;
 }

.input {
  font-size: medium;
}

.submit {
 background: #fff;
   color: #000;
   font-weight: 600;
   border: none;
   padding: 12px 20px;
   cursor: pointer;
   border-radius: 3px;
   font-size: 16px;
   border: 2px solid transparent;
   transition: 0.3s ease;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.modal {
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type=number] {
  -moz-appearance: textfield;
}
.modal:hover{
  box-shadow: 0px 0px 20px 1px #ffffff3f;
  border: 1px solid rgba(255, 255, 255, 0.454);
  transition: 0.3s ease;
 }

